*{}

body {
	background: url("../img/bobumaki_logo_2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30em;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

	body {
		background: url("../img/bobumaki_logo_2.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 40em;
	}
}